/* ----------------------------------------------------
	COLOR SCHEMES
------------------------------------------------------- */
#header-style-1 .yamm-fw .dropdown-menu li a:before, #header-style-1 .dropdown-menu li a:before{
	color: #ed008c;
}
#topbar .container #block-locale-language .language-switcher-locale-url li:hover,
#topbar .container #block-locale-language .language-switcher-locale-url li.active {
  background: #ed008c;
}
.doc .yellow {
    color:#ed008c !important;
}
.recent_posts_widget li span i {color: #ed008c !important;}
#maintenance1 .yellow {
    color:#ed008c !important;
}
#forum table thead{border-top: 3px solid #ed008c;}
.uc-cart-checkout-form .form-wrapper .form-text:focus{border: 1px solid #ed008c}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background-color: #ed008c;
}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    background-color: #ed008c;
}
.tb-megamenu .nav > .active > a,
.tb-megamenu .nav > .active > a:hover,
.tb-megamenu .nav > .active > a:focus {background: #ed008c;}
.mega-dropdown-inner {
	border-top: 3px solid #ed008c;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #ed008c !important;
}
#commerce-checkout-form-review .checkout-back {
    background-color: #ed008c;
}
.flag-shop {
  background: #ed008c !important;
}

/* ------- */
	.arrow-left {
		border-right-color:#ed008c;
	}
	#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
		border-top-color:#ed008c !important;
	}
	.buddy_members .popover.top > .arrow:after,
	.buddy_carousel .popover.top > .arrow:after {
		border-top:10px solid #ed008c !important;
	}
	.tp-bullets.simplebullets .bullet:hover,
	.tp-bullets.simplebullets .bullet.selected{
		border-color:#ed008c !important;
	}
	.post-wrapper-top h2,
	.group_box:hover .circle,
	.group_box:hover,
	.buddy_carousel .popover,
	.buddy_members .popover,
	.buddy_desc,
	.cat_widget:hover,
	.social_like .icon-container,
	.pagination > .active > a,
	.pagination > .active > span,
	.pagination > .active > a:hover,
	.pagination > .active > span:hover,
	.pagination > .active > a:focus,
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus,
	.pagination > .active > span:focus,
	.form-control:focus,
	.panel-default > .panel-heading:hover,
	.bggrey,
	.services_vertical .icon-container,
	.item .icon-container,
	#owl-testimonial-widget .img-circle,
	.testimonial-wrap,
	.tparrows:hover,
	.blog_button,
	.magnifier .btn-default:hover,
	blockquote,
	.magnifier .btn-default:focus,
	.magnifier .btn-default:active,
	.service-icon-circle,
	.general-title hr,
        #forum table thead {
		border-color:#ed008c;
	}
	.mega-dropdown-inner {
		border-top-color: #ed008c !important;
	}
	#three-parallax .testimonial h3 {
		color:#ed008c !important;
	}
	#header-style-1 .yamm-fw .dropdown-menu li a:before,
	#header-style-1 .dropdown-menu li a:before,
	.blog_button,
	.shop_title_slider span,
	.cat_widget h3,
	.rating i,
	.big_title_onepage span,
	.small_thin_grey1 i,
	.popular_items .meta span i,
	.ch-info-front i,
	.service_vertical_box:hover .service-icon i,
	.bgdark span,
	.item .icon-container,
	.slider_title_a,
	.mini_title2 i,
	.team_member span,
	.blog-carousel-meta span i,
	.high_title2,
	.high_title,
	.big_title span,
	.small_title span,
	.mini_title span,
	.check li:before,
	.service-icon-circle i,
	.servicebox:hover .service-icon i,
	.shop-right .title .price,
	.shop_item .price,
	.cart_table .price2,
	.widget h3 span,
	.big_title_slider span,
	a,
	.milestone-counter i,
	a.readmore,
	.tabbed-menu li a:hover,
	.footer-menu li a:hover,
	.mmode .title span,
	.footer-menu li a:focus,
	#header-style-1 .yamm h3 i,
	#header-style-1 .yamm-fw .dropdown-menu li a:before,
	#topbar .topbar-login i,
	.group_box i,
	#topbar .callus i,
	#topbar .topbar-cart i {
		color:#ed008c;
	}
	#commerce-checkout-form-checkout .checkout-buttons .checkout-cancel,
	#commerce-checkout-form-review .checkout-back,
	.timeline-badge.danger,
	.flex-control-paging li a.flex-active,
	.tparrows:hover {
		background-color:#ed008c !important;
	}
	.demo_changer .demo-icon,
	.group_box:hover .circle,
	.buddy_carousel .owl-controls .owl-page.active span,
	.buddy_carousel .owl-controls.clickable .owl-page:hover span,
	.recent_posts_widget > li img:hover,
	.buddypress_tabber_widget_member li img:hover,
	#tabbed_widget .nav-tabs > li.active > a,
	#tabbed_widget .nav-tabs > li.active > a:hover,
	#tabbed_widget .nav-tabs > li.active > a:focus,
	#tabbed_widget .nav > li > a:hover,
	#tabbed_widget .nav > li > a:focus,
	#footer-style-1 .social-icons span a:hover,
	#footer-style-2 .social-icons span a:hover,
	#footer-style-3 .social-icons span a:hover,
	.footer_post li img:hover,
	#tabbed_widget .recent_posts_widget img:hover,
	.pricing_detail:hover,
	.pricing_detail:hover .priceamount,
	.banners li:hover .img-thumbnail,
	.ch-info .ch-info-back,
	.service-with-image:hover .service-title,
	.calloutbox-full-mini,
	.services_vertical .icon-container,
	#services .owl-controls .owl-page span,
	.item:hover .icon-container,
	.white-wrapper #owl-testimonial .owl-controls .owl-page.active span,
	.make-bg,
	.buddy_image img:hover,
	.calloutbox,
	#owl-testimonial-widget .owl-controls .owl-prev:hover,
	#owl-testimonial-widget .owl-controls .owl-next:hover,
	#owl_blog_two_line .owl-controls .owl-prev:hover,
	#owl_blog_two_line .owl-controls .owl-next:hover,
	#owl_blog_three_line .owl-controls .owl-prev:hover,
	#owl_blog_three_line .owl-controls .owl-next:hover,
	#owl_portfolio_two_line .owl-controls .owl-prev:hover,
	#owl_portfolio_two_line .owl-controls .owl-next:hover,
	#owl_shop_carousel .owl-controls .owl-prev:hover,
	#owl_shop_carousel .owl-controls .owl-next:hover,
	#owl_shop_carousel_1 .owl-controls .owl-prev:hover,
	#owl_shop_carousel_1 .owl-controls .owl-next:hover,
	#owl-blog .owl-controls .owl-prev:hover,
	#owl-blog .owl-controls .owl-next:hover,
	.overlay #owl-testimonial .owl-controls .owl-page.active span,
	.progress-bar,
	.dmtop,
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
	.magnifier .btn-default:hover,
	.magnifier .btn-default:focus,
	.magnifier .btn-default:active,
	.rsDefaultInv .rsBullet.rsNavSelected span,
	.service-icon-circle.active,
	.servicebox:hover .service-icon-circle,
	.btn-primary,
	#accordion-first .accordion-heading .accordion-toggle.active em,
	#accordion-second .accordion-heading .accordion-toggle.active em,
	mark,
	.pager li > a, .pager li > span,
	.make-bg-full,
	.pagination > .active > a,
	.pagination > .active > span,
	.pagination > .active > a:hover,
	.pagination > .active > span:hover,
	.pagination > .active > a:focus,
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus,
	.pagination > .active > span:focus,
	#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count:hover,
	#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count:hover,
	.tagcloud a:hover,
	.nav-stacked > li > a:hover,
	.nav-stacked > li > a:focus,
	.nav-tabs > li.active > a:hover,
	.buddy_members img:hover,
	.buddy_carousel img:hover,
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li.active > a,
	#buddypress_features .nav-tabs > li > a:hover,
	#buddypress_features .nav-tabs > li > a:focus,
	#header-style-1 .navbar-nav > li > a:hover,
	#header-style-1 .navbar-nav > li > a:focus,
	#header-style-1 .navbar-nav > li > a:active,
	#header-style-1 .navbar-default .navbar-nav > .open > a,
	#header-style-1 .navbar-default .navbar-nav > .open > a:hover,
	#header-style-1 .navbar-default .navbar-nav > .open > a:focus,
	#quicktabs-tabbed_widget .quicktabs-tabs > li.active > a,
	#quicktabs-tabbed_widget .quicktabs-tabs > li.active > a:hover,
	#quicktabs-tabbed_widget .quicktabs-tabs > li.active > a:focus,
	#quicktabs-tabbed_widget .quicktabs-tabs > li > a:hover,
	#quicktabs-tabbed_widget .quicktabs-tabs > li > a:focus,
	.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
	.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
	.tb-megamenu .nav > li.dropdown.open.active > a:hover,
	.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover,
	.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
	.tb-megamenu .dropdown-menu .active > a,
	.tb-megamenu .dropdown-menu .active > a:hover,
	#topbar .social-icons span a:hover {
		background-color:#ed008c;
	}
	.tb-megamenu .nav > .active > a,
	.tb-megamenu .nav > .active > a:hover,
	.tb-megamenu .nav > .active > a:focus {background: #ed008c; border-radius: 3px;}
	.nav .open > a,
	.nav .open > a:hover,
	.nav .open > a:focus {
	  background-color: #ed008c !important;
	}
	.flex-direction-nav a,
	.rsUni .rsThumb.rsNavSelected .thumbIco,
	.parallax-home1 .overlay,
	.custom-overlay {
		background-color:rgba(134,81,133,0.7);
	}
	a.navbar-brand {
		background: url(../images/logo_agosto.png) no-repeat scroll left top rgba(0, 0, 0, 0);
	}
